@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100%;
    background-color: white;
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
}

.score {
    color: black;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score h2 {
    font-size: 30px;
}

.score p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.intro {
    color: black;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
}

.intro h1 {
    font-size: 50px;
}

.intro button,
.match button {
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    background: black;
    border-radius: 3px;
    cursor: pointer;
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
}
.match button:hover {
    color: black;
    background: white;
    border: 1px solid black;
}
.intro button:hover {
    color: black;
    background: white;
    border: 1px solid black;
}

.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 0.5s;
}

.winner {
    color: rgb(32, 32, 32);
    text-align: center;
    font-size: 50px;
}

.hands,
.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.player-hand {
    transform: rotateY(180deg);
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

/* for screens size 950px */

@media screen and (max-width:450px) {
    * {
        clear: both;
        columns: 1;
        width: 90%;
        float: none;
        text-align: center;
    }
    .hands,
    .options {
        width: 100%;
        padding: 0 15%;
    }
    .score,
    .intro {
        text-align: center;
    }
}